:root {
  --primary-brand-colors: #4d5ae5; /* IRIS */
  --pressed-state-color: #404bbf; /* OCEAN */
  --dark-color: #2e2f42; /* NAVY BLUE */
  --success-color: #31d0aa; /* GREEN */
  --text-color: #434455; /* SLATE */
  --subtle-text-color: #8e8f99; /* LIGHT SLATE */
  --accent-color: #e7e9fc; /* CORNFLOWER */
  --light-color: #f4f4fd; /* CLOUD */
  --modal-overlay-color: #2e2f42; /* NAVY BLUE MODAL */
  --hero-background-color: #2e2f42; /* GRAY */
  --white-background-color: #ffffff; /* WHITE */
  --modal-background-color: #fcfcfc; /* DAIRY */
}

/* Global styles */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Header */

.header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: var(--primary-brand-colors);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-logo > span {
  color: var(--dark-color);
}

.list {
  list-style: none;
  display: flex;
}

.header-list {
  gap: 40px;
  padding: 24px 0;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--dark-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state-color);
}

.contacts {
  font-style: normal;
  display: flex;
  align-items: center;
}

.contacts-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.contacts-item:hover,
.contacts-item:focus {
  color: var(--pressed-state-color);
}

/* Hero Section */

.hero-section {
  background-color: var(--dark-color);
  height: 600px;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: var(--white-background-color);
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-button {
  color: var(--white-background-color);
  background-color: var(--primary-brand-colors);
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 188px 0;
}

/* Strategy Section */

.strategy {
  padding: 120px 0;
}

.strategy-title {
  font-size: 20px;
  color: var(--dark-color);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.strategy-text {
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.strategy-list {
  gap: 24px;
}

.strategy-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

/* Foto Section */

.title-foto-section {
  font-size: 36px;
  color: var(--dark-color);
  letter-spacing: 0.72px;
  text-transform: capitalize;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

.foto-list {
  gap: 24px;
}

.foto-list-item {
  flex-basis: calc((100% - 48x) / 3);
}

.foto-section {
  padding-bottom: 120px;
}

/* Team section */

.team-section {
  background-color: var(--light-color);
  padding: 120px 0;
}

.team-section-title {
  font-size: 36px;
  color: var(--dark-color);
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-list-item {
  background: var(--white, #fff);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-info {
  padding: 32px 16px;
}

.team-section-subtitle {
  font-size: 20px;
  color: var(--dark-color);
  font-weight: 500;
  line-height: calc(24 / 20);
  letter-spacing: 0.4px;
  margin-bottom: 8px;
  text-align: center;
}

.team-section-text {
  font-size: 16px;
  color: var(--text-color);
  line-height: calc(24 / 16);
  letter-spacing: 0.32px;
  text-align: center;
}

.team-list {
  gap: 24px;
}

/* Footer */

.footer {
  background-color: var(--dark-color);
  padding: 100px 0;
}

.footer-logo {
  color: var(--primary-brand-colors);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-white {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.32px;
  color: var(--light-color);
  width: 264px;
}

/* PORTFOLIO PAGE */

.button {
  border: 1px solid var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: var(--light-color);
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-colors);
  cursor: pointer;
}

.button:hover,
.button:focus {
  background: var(--pressed-state-color);
  color: var(--white-background-color);
  border: none;
}

.project-list-item {
  border: 1px solid var(--accent-color);
  background: var(--white-background-color);
  margin: 10px;
}

.project-list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.project-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
