:root {
  --primary-brand-colors: #4d5ae5; /* IRIS */
  --pressed-state-color: #404bbf; /* OCEAN */
  --dark-color: #2e2f42; /* NAVY BLUE */
  --success-color: #31d0aa; /* GREEN */
  --text-color: #434455; /* SLATE */
  --subtle-text-color: #8e8f99; /* LIGHT SLATE */
  --accent-color: #e7e9fc; /* CORNFLOWER */
  --light-color: #f4f4fd; /* CLOUD */
  --modal-overlay-color: #2e2f42; /* NAVY BLUE MODAL */
  --hero-background-color: #2e2f42; /* GRAY */
  --white-background-color: #ffffff; /* WHITE */
  --modal-background-color: #fcfcfc; /* DAIRY */
}

/* Global styles */

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

.link {
  text-decoration: none;
}

/* ul {
  list-style-type: none;
} */

button {
  cursor: pointer;
}

/* Header */

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: var(--primary-brand-colors);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo > span {
  color: var(--dark-color);
}

.list {
  list-style: none
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.32px;
  color: var(--dark-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state-color);
}

.contacts {
  font-style: normal;
}

.contacts-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.contacts-item:hover,
.contacts-item:focus {
  color: var(--pressed-state-color);
}

/* Hero Section */

.hero-section {
  background-color: var(--dark-color);
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: var(--white-background-color);
}

.hero-button {
  color: var(--white-background-color);
  background-color: var(--primary-brand-colors);
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  /* padding: 16px 32px; */
  /* border-radius: 4px; */
  /* box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15); */
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}

/* Features Section */

/* .visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
} */

.features-title {
  font-size: 20px;
  color: var(--dark-color);
  font-weight: 500;
  line-height: calc(24 / 20);
  letter-spacing: 0.4px;
}

.features-text {
  font-size: 16px;
  color: var(--text-color);
  line-height: calc(24 / 16);
  letter-spacing: 0.32px;
}

/* Foto Section */

.title-foto-section {
  font-size: 36px;
  color: var(--dark-color);
  letter-spacing: 0.72px;
  text-transform: capitalize;
  line-height: 1.11;
  text-align: center;
}

/* Team section */

.team-section {
  background-color: var(--light-color);
}

.team-section-title {
  font-size: 36px;
  color: var(--dark-color);
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}

.team-section-list-item {
  /* border-radius: 0px 0px 4px 4px; */
  /* width: 264px; */
  background: var(--white, #fff);
  /* box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08); */
}

.team-section-subtitle {
  font-size: 20px;
  color: var(--dark-color);
  font-weight: 500;
  line-height: calc(24 / 20);
  letter-spacing: 0.4px;
}

.team-section-text {
  font-size: 16px;
  color: var(--text-color);
  line-height: calc(24 / 16);
  letter-spacing: 0.32px;
}

/* Footer */

.footer {
  background-color: var(--dark-color);
}

.footer-logo {
  color: var(--primary-brand-colors);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-white {
  color: #f4f4fd ;
}

.footer-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.32px;
  color: var(--light-color);
}

/* PORTFOLIO PAGE */

.button {
  /* border-radius: 4px; */
  border: 1px solid var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: var(--light-color);
  line-height: 1.5;
  letter-spacing: 0.04em;
  /* padding: 12px 24px; */
  color: var(--primary-brand-colors);
  cursor: pointer
}

.button:hover,
.button:focus {
  /* border-radius: 4px; */
  background: var(--pressed-state-color);
  /* box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1); */
  color: var(--white-background-color);
  border: none;
}

.project-list-item {
  border: 1px solid var(--accent-color);
  background: var(--white-background-color);
  /* width: 360px; */
  margin: 10px;
}

.project-list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: var(--dark-color);
}

.project-list-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--text-color);
}
