:root {
  --primary-brand-colors: #4d5ae5; /* IRIS */
  --pressed-state-color: #404bbf; /* OCEAN */
  --dark-color: #2e2f42; /* NAVY BLUE */
  --success-color: #31d0aa; /* GREEN */
  --text-color: #434455; /* SLATE */
  --subtle-text-color: #8e8f99; /* LIGHT SLATE */
  --accent-color: #e7e9fc; /* CORNFLOWER */
  --light-color: #f4f4fd; /* CLOUD */
  --modal-overlay-color: #2e2f42; /* NAVY BLUE MODAL */
  --hero-background-color: #2e2f42; /* GRAY */
  --white-background-color: #ffffff; /* WHITE */
  --modal-background-color: #fcfcfc; /* DAIRY */
  --strategy-icon-bg: #f4f4fd; /* CLOUD */
}

/* Global styles */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid red; */
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  background-color: var(--white-background-color);
}

.link {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* Header */

.header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: var(--primary-brand-colors);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-container {
  display: flex;
}

.header-navigation {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.header-logo > span {
  color: var(--dark-color);
}

.list {
  list-style: none;
  display: flex;
}

.header-list {
  gap: 40px;
  padding: 24px 0;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--dark-color);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--pressed-state-color);
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state-color);
}

.contacts {
  font-style: normal;
  display: flex;
  align-items: center;
}

.contacts-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item:hover,
.contacts-item:focus {
  color: var(--pressed-state-color);
}

/* Hero Section */

.hero-section {
  margin: 0 auto;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--hero-background-color);
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  text-align: center;
  line-height: 1.07;
  letter-spacing: 1.12px;
  color: var(--white-background-color);
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-button {
  color: var(--white-background-color);
  background-color: var(--primary-brand-colors);
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 188 472 188 472;
}

/* Strategy Section */

.strategy-icon {
  padding: 24px 100px;
  background-color: var(--strategy-icon-bg);
  margin: 0;
  margin-bottom: 8px;
}

.strategy-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  border-radius: 4px;
}

.strategy {
  padding: 120px 0;
}

.strategy-title {
  font-size: 20px;
  color: var(--dark-color);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.strategy-text {
  font-size: 16px;
  color: var(--text-color);
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.strategy-list {
  gap: 24px;
}

.strategy-list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

/* Foto Section */

.title-foto-section {
  font-size: 36px;
  color: var(--dark-color);
  letter-spacing: 0.72px;
  text-transform: capitalize;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
  padding: 120px 0;
}

.foto-list {
  gap: 24px;
}

.foto-list-item {
  flex-basis: calc((100% - 48x) / 3);
}

.foto-section {
  padding-bottom: 120px;
}

/* Team section */

.team-section {
  background-color: var(--light-color);
  padding: 120px 0;
}

.team-section-title {
  font-size: 36px;
  color: var(--dark-color);
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-list-item {
  width: calc((100% - 120px) / 6);
  background: var(--white, #fff);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-info {
  padding: 32px 0;
}

.team-section-subtitle {
  font-size: 20px;
  color: var(--dark-color);
  font-weight: 500;
  line-height: calc(24 / 20);
  letter-spacing: 0.4px;
  margin-bottom: 8px;
  text-align: center;
}

.team-section-text {
  font-size: 16px;
  color: var(--text-color);
  line-height: calc(24 / 16);
  letter-spacing: 0.32px;
  text-align: center;
  margin: 8px;
}

.team-social-list {
  gap: 24px;
  display: flex;
  justify-content: center;
}

.social-list-item {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link {
  display: flex;
  fill: var(--light-color);
  background-color: var(--primary-brand-colors);
  color: var(--light-color);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--pressed-state-color);
}

.team-list {
  gap: 24px;
}

.svg-icon {
  /* fill: var(--strategy-icon-bg); */
  fill: currentColor;
}

/* SECTION CUSTOMERS */

.section-customers {
  padding: 120px 0;
}

.customers-title {
  color: var(--dark-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  gap: 24px;
}

.customers-list-item {
  height: 88px;
  width: calc((100% - 120px) / 6);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-color: 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link {
  fill: var(--subtle-text-color);
  padding: 16px 32px;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--subtle-text-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: currentColor;
}

.customers-link:hover,
.customers-link:focus {
  color: var(--pressed-state-color);
  border-color: var(--pressed-state-color);
}

.customers-list-item:hover,
.customers-list-item:focus {
  border-color: var(--pressed-state-color);
}

/* Footer */

.footer {
  background-color: var(--dark-color);
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-text {
  margin-right: 120px;
}

.footer-logo {
  color: var(--primary-brand-colors);
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-white {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.32px;
  color: var(--light-color);
  width: 264px;
}

.social-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 80px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  fill: var(--light-color);
  background-color: var(--primary-brand-colors);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--success-color);
}

.social-list {
  gap: 16px;
}

.social-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background-color);
  margin-bottom: 16px;
}

.footer-form {
  display: flex;
  gap: 24px;
}

.subscribe-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--white-background-color);
  margin-bottom: 16px;
}

.email-input {
  width: 264px;
  height: 40px;
  color: #ffffff;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.email-input::placeholder {
  color: var(--white-background-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.48px;
  padding-left: 16px;
}

.subscribe-btn {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}

.subscribe-icon {
  margin-left: 16px;
}

/* PORTFOLIO PAGE */

.button {
  border: 1px solid var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background: var(--light-color);
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-colors);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background: var(--pressed-state-color);
  color: var(--white-background-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list-item {
  border: 1px solid var(--accent-color);
  background: var(--white-background-color);
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.box-images {
  position: relative;
  overflow: hidden;
}

.box-images-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-list-item:hover .box-images-text {
  transform: translateY(0%);
}

.link-project:focus .box-images-text {
  transform: translateY(0%);
}

.link-project {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-project:hover,
.link-project:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-list-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  margin-bottom: 8px;
}

.project-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.project-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.project-info {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

/* OVERLAY */

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  display: flex;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  padding: 72px 24px 24px 24px;
  width: 408px;
  min-height: 584px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--modal-background-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
  color: var(--dark-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 24px; */
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding: 11px 0 11px 38px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field {
  margin-bottom: 8px;
}

.modal-input:hover,
.modal-input:focus {
  border-radius: 4px;
  border: 1px solid var(--primary-brand-colors);
}

.modal-input:hover + .modal-input-icon,
.modal-input:focus + .modal-input-icon {
  fill: var(--primary-brand-colors);
}

.modal-label {
  display: block;
  color: var(--subtle-text-color);
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  margin-bottom: 4px;
}

.modal-warp {
  position: relative;
}

.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  padding: 11px 0 11px 16px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  background-color: transparent;
  outline: transparent;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding: 8px 16px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:hover,
.modal-textarea:focus {
  border-radius: 4px;
  border: 1px solid var(--primary-brand-colors);
}
.modal-textarea::placeholder {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
}

.checkbox-span {
  display: inline-flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-text {
  display: flex;
  align-items: center;
  fill: transparent;
}

.check-text .checkbox-span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
}

.modal-check:focus + .check-text .checkbox-span {
  border: 1px solid var(--pressed-state-color);
}

.modal-check:checked + .check-text .checkbox-span {
  background-color: var(--pressed-state-color);
  fill: var(--light-color);
  border: none;
}

.modal-field-check {
  margin-bottom: 24px;
}

.privacy-link {
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-decoration-line: underline;
  color: var(--primary-brand-colors);
}

.modal-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: var(--primary-brand-colors);
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
